body {
    display: flex;
    font-family: 'Bacasime Antique', Fallback, sans-serif;
    color: white;
    justify-content: space-between; /* This will ensure that the sidebar and content-container are spaced out. */
    width: 100%;
}



.sidebar {
  width: 33.33%;
  background-color: transparent;
  margin: 5px 10px;
  display: flex; /* Adding flex to center its content vertically */
  align-items: center; /* Vertically center the content in the sidebar */
  justify-content: center; 
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;     
}

.sidebar li a {
  text-decoration: none;
  color: black; 
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); 
  font-family: 'Bacasime Antique', Fallback, sans-serif;
}

.content {
  flex-grow: 1;
  text-align: center;
}

.content img {
  max-width: 100%;
  max-height: 100%;
}



img.calendar {
  width: 700px; /*can adjust this value to get the size wanted */
  height: auto; /* maintain the image's aspect ratio */
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 40px;
}

img.graph {
  width: 700px; /* adjust this value to get the size wanted */
height: auto; /*  maintain the image's aspect ratio */
border-radius: 5px;
}

.content-container {
  width: 66.67%; /* Remaining two-thirds of the container's width */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally in the container */
  justify-content: center; 
}

