ul li a:link,
ul li a:visited {
    color: white !important;
    font-size: 120px;
}

body {
    font-family: 'Bacasime Antique', Fallback, sans-serif;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); 
}


@font-face {
    font-family: 'Bacasime Antique';
    src: url('/static/BacasimeAntique-Regular.ttf');
}


