{% extends 'base.html' %}
{% block title %}About Fair Play{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}


{% block body %}
<div class = "container-fluid">
  <div class="row align-items-center">
    <header class="col-sm-6 text-center">
     <h1>About Fair Play</h1>
    </header>

    <main class="col-sm-6 text-center">
      <p>Eve Rodsky is changing society one partnership at a time, by coming up with a 21st-century solution to an age-old problem: women shouldering the brunt of domestic responsibilities, regardless of whether they work outside the home 🏡. The unequal emotional labor and “invisible work” in a relationship is a hot-button issue, but no one has offered a real solution to this dilemma, until now. </p>
      <p>Rodsky surveyed more than 500 couples across the US to figure out WHAT the invisible work in a family actually is and HOW to get it done effectively–in a way that makes relationships even stronger. Fair Play identifies the 100 main tasks🧹 in any partnership and then divides those tasks fairly ⚖️ (not necessarily equally!) so that both parties contribute their share. If we don’t learn to rebalance our home life and reclaim our “unicorn 🦄 time” (aka, our space to develop the skills and passions that keep us vibrant), then we risk losing our right to be interesting, not just to our partner, but to ourselves. </p>
      <p> Fair Play offers an innovative system with a completely original lexicon to discuss how relationships actually work … and how we can make them work better. 💕</p>
    </main>
  </div>
</div>
{% endblock %}
