{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='account_creation_page.css') }}">
{% endblock %}

{% block body %}
<div class="greeting-container">  
  <header>
    <h1>Hello!</h1>
    <p>This is going to be a game changer!</p>
  </header>
</div>

  <div class="account-container">
    <h2>✨Create an Account✨</h2>
    <form action="/create_account" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
        
      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>
  </div>>
{% endblock %}