<!DOCTYPE html>
<html>
<head>
    <title>Assign Tasks</title>
</head>
<body>
    <h1>Assign a New Task</h1>
    <h2>Available Task Types</h2>
    <ul>
        {% for task in task_types %}
            <li>
                <h2>{{ task.task_name }}</h2>
                <p>{{ task.task_description }}</p>
                <form method="POST" action="/assign_task">
                    <input type="hidden" name="task_id" value="{{ task.task_id }}">
                    <input type="submit" value="I'll do it!">
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
