<html>
<body>
  <header>
    <h1>Hello!</h1>
    <p>This is going to be a game changer!</p>
  </header>

  <main>
    <form>
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="first-name" required><br>

      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="last-name" required><br>

      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>

      <label for="confirm-password">Re-enter Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required><br>

      <input type="submit" value="Submit">
    </form>
  </main>
</body>
</html>