{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}">
{% endblock %}


{% block body %}
<div class="login-container"></div>
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
</div>
{% endblock %}


