<!DOCTYPE html>
<html>
<head>
    <title>My Tasks</title>
</head>
<body>
    <h1>My Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <h2>{{ task.task_type.task_name }}</h2>
                <p>{{ task.task_type.task_description }}</p>
                <form action="/mark_task_done" method="POST">
                    <input type="hidden" name="assigned_task_id" value="{{ task.assigned_task_id }}">
                    <input type="submit" value="Done!">
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
