{% extends 'base.html' %}
{% block title %}My Tasks{% endblock %}

{% block body %}
    <h1>My Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li class="task">
                <span class="task-name">{{ task.task_type.task_name }}</span>
                <span class="task-description">{{ task.task_type.task_description }}</span>
                <form action="/mark_task_done" method="POST">
                    <input type="hidden" name="assigned_task_id" value="{{ task.assigned_task_id }}">
                    <input type="submit" value="Done!">
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}



