{% extends 'base.html' %}
{% block title %}My Page{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}">
{% endblock %}

{% block body %}
  <div class="sidebar">
    <ul class="list-group">
      <li class="list-group-item"><a href="/my_tasks">My Tasks</a></li>
      <li class="list-group-item"><a href="#">My Household</a></li>
      <li class="list-group-item"><a href="/assign_tasks">Assign Tasks</a></li>
      <li class="list-group-item"><a href="/create_task">Create New Task</a></li> <!-- Add this line -->
    </ul>
  </div>

  <div class="content">
    <img class="calendar" img src="/static/Calendar.png" alt="Calendar">
  </div>
  <div class="content">
    <img class="graph" img src="/static/graph.png" alt="Graph">
  </div>
{% endblock %}






